$textColor: #222222;
$Color1: #1f7a54;

@mixin font($weight, $size:default, $lineHeight:default) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
}
@mixin flex($justify: flex-start, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin widthHeight($width:auto, $height: auto){
    width: $width;
    height: $height;
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  font-family: "Quicksand", sans-serif;
  background-color: #eeeeee;
  min-height: 100vh;
  @include flex();
  flex-direction: column;
}
