/* Navbar component start  */

.navbarSection {
  @include widthHeight(100%, 56px);
  @include flex(space-between, center);

  background: rgba(37, 49, 63, 1) url("../Images/header-image.png");
  background-blend-mode: overlay;
  opacity: 1;

  // background-size: contain;
  padding: 0 24px;

  .logo > img {
    @include widthHeight(134px, 36px);
  }
  .navOptions {
    @include flex(flex-start, center);
    @include font(500);
    color: #3fd28b;
    gap: 32px;

    .nav {
      @include flex(flex-start, center);
      @include font(500, 14px, 14.5px);
      gap: 32px;
      text-transform: uppercase;
      .navEle {
        cursor: pointer;
      }
      .activetab {
        border-bottom: 5px solid white;
        padding: 20px 0;
        color: white;
      }
    }
    .navicon {
      position: relative;
      cursor: pointer;
      padding: 20px 0;
      .number {
        @include font(normal, 10px);
        @include flex(center, center);
        position: absolute;
        top: 12px;
        right: -7px;
        background-color: #2a7ff3;
        color: white;
        @include widthHeight(5px, 5px);
        border-radius: 50%;
        padding: 8px;
      }
      img.hover {
        filter: brightness(0) invert(1);
      }
    }

    .accountIcon {
      img {
        @include widthHeight(32px, 32px);
      }
      span {
        position: absolute;
        @include font(normal, 8px);
        @include widthHeight(16px, 16px);
        top: 18px;
        right: -5px;
        background-color: #ffffff;
        color: $textColor;
        border-radius: 50%;
        @include flex(center, center);
      }
    }
    .notificationIcon:hover .number,
    .announcementsIcon:hover .number {
      display: none;
    }

    .sidebar {
      text-transform: uppercase;
      max-width: 0px;
      overflow: hidden;
      transition: max-width 0.5s;
      background-color: white;
      flex-direction: column;
      position: absolute;
      top: 56px;
      z-index: 1;
      right: 16px;
      box-shadow: 0px 13px 20px #0000003d;
      border-radius: 2px;
      color: #1f7a54;
      gap: 0px;
      display: flex;
    }
    .activeSidebar {
      width: 280px;
      max-width: 280px !important;
    }
  }
}
.hamburger-menu {
  display: none;
  img {
    @include widthHeight(40px);
  }
}
.navEle-Options {
  padding-left: 16px;
  padding-top: 25px;
  display: none;
}

// .announcementModal

.modal {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  @include widthHeight(315px);
  background-color: #ffffff;
  position: absolute;
  top: 60px;
  z-index: 1;
  right: -10px;
  color: #6e6e6e;
  @include font(500, 12px);
  box-shadow: 0px 3px 6px #00000029;
  .modalcardSection {
    max-height: 500px;
    @include flex();
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
      opacity: 0.38;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(128, 128, 128, 0.699);
      border-radius: 6px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .modalCard {
      cursor: pointer;
      border-bottom: 1px solid #2222221f;
      position: relative;
      padding: 16px;
      .icon {
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 18px;
        color: #1f7a54;
      }
      .dndIcon {
        font-variation-settings: "FILL" 0;
      }
      .from {
        padding-bottom: 8px;
      }
      b {
        color: #222222;
      }

      .message {
        padding: 0 0 8px 0;
        @include font(600, 14px, 18px);
        color: #222222;
        padding-right: 22px;
      }
      .course {
        padding-bottom: 8px;
      }

      .footer {
        @include flex(space-between, center);
        .fileattach {
          @include flex(flex-start, center);
          img {
            @include widthHeight(13px);
          }
        }
        .timestamp {
          margin-left: auto;
        }
      }
    }
  }

  .modelFooter {
    z-index: 100;
    background-color: white;
    text-transform: uppercase;
    @include flex(flex-start, center);
    @include widthHeight(auto, 48px);
    box-shadow: 0px 1px 6px #0000003d;
    border-radius: 0px 0px 2px 2px;
    hr {
      margin: 0;
      width: 40px;
      transform: rotate(90deg);
      border: 1px solid #2222221f;
    }
    span {
      @include flex(center, center);
      flex: 1;
      @include font(600, 14px);
      letter-spacing: -0.35px;
      color: #1f7a54;
      cursor: pointer;
    }
  }

  .inactive {
    background-color: #ffffee;
  }
}

.displayBlock {
  max-height: 550px;
}

/* Navbar component end  */
@media screen and (max-width: 500px) {
  .navbarSection .navOptions {
    gap: 16px;
  }
  .modal {
    right: -100px;
    width: 280px;
    .modalCard .footer {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 800px) {
  .hamburger-menu {
    display: block;
  }
  .navbarOptions {
    position: relative;
  }
  .navbarSection .navOptions .nav {
    display: none;
  }

  .navbarSection .navOptions .activetab1 {
    border: none;
    padding: 0;
    color: inherit;
    background-color: #f3f3f3;
    img {
      transform: rotate(180deg);
    }
  }
  .navbarSection .navOptions .sideEle {
    width: 100%;
    height: 100%;
    font-weight: 600;
    padding: 15px 16px;
  }
  .sideEle-text {
    @include flex(space-between, center);
  }
  .sideEle-Options {
    display: none;
    padding-left: 16px;
    padding-top: 25px;
  }
}
