* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

#scroller {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 90%;
}
#main {
  height: calc(100vh - 55px);
  // border: 1px solid #ccc;
  margin-left: 40px;
  margin-top: 24px;
  overflow: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.topHeader {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  margin-left: 40px;
  overflow: hidden;
}
.leftHeader {
  position: absolute;
  left: 0;
  margin-top: 24px;
  top: 0;
  // border: 1px solid #d5cece;
}
.topleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #f5f5f5;
  border: 1px solid #d5cece;
  border-top: none;
  border-left: none;
  z-index: 10;
}
.canvasinput {
  display: none;
  position: absolute;
  border: 1px solid rgb(16,124,65);
  // border: none;
  z-index: 10;
  outline: none;
  padding-left: 2px;
}
.canvasinput:focus {
  box-shadow: 0 0 1.5px 1.5px rgb(16,124,65);
}

.footer{
  background: #f5f5f5;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 10px;

  div{
    button{
      padding: 5px 10px;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
 
}